<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" metadata-complete="true" version="5.0">
  <display-name>MailApplicatoinWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>classes.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>classes.CreateNewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageRetrival</display-name>
    <servlet-name>MessageRetrival</servlet-name>
    <servlet-class>classes.MessageRetrival</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageRetrival</servlet-name>
    <url-pattern>/MessageRetrival</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComposeMail</display-name>
    <servlet-name>ComposeMail</servlet-name>
    <servlet-class>classes.ComposeMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComposeMail</servlet-name>
    <url-pattern>/ComposeMail</url-pattern>
  </servlet-mapping>
</web-app>